<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Webjump_Pet::menu" title="Pet" module="Webjump_Pet" sortOrder="10" resource="Webjump_Pet::menu"/>
        <add id="Webjump_Pet::all_pets" title="All Pets" translate="title" module="Webjump_Pet"  parent="Webjump_Pet::menu" action="webjump_pet/item" resource="Webjump_Pet::item"/>
    </menu>
</config>